@import "../utils/variables/colors";
@import "../utils/mixins/breakpoints";

body {
    background-color: $background;
    color: $white;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: calc(100vw - 2rem);

    @media screen and (min-width: 1200px)  {
        max-width: calc(100vw - 35rem);
    }
}

.heading {
    margin-top: 3rem;

    @include media-breakpoint-up(xl) {
        margin-top: 6rem;
    }

    h1 {
        margin: 0;
    }
}