@import "../utils/variables/colors";
@import "../utils/mixins/breakpoints";

body {
    background-color: $background;
    color: $white;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: calc(100vw - 2rem);

    @media screen and (min-width: 1200px)  {
        max-width: calc(100vw - 10rem);
    }

    @media screen and (min-width: 1800px)  {
        max-width: calc(100vw - 35rem);
    }
}

.heading {
    margin-top: 2rem;

    @include media-breakpoint-up(xl) {
        margin-top: 6rem;
    }

    h1 {
        margin: 0;
    }
}

.mobile-visible {
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.desktop-visible {
    @media screen and (max-width: 1199px) {
        display: none !important;
    }
}