@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.6rem;
}